<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IHaveIt.club</title>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/14ee000d5e.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js"></script>

    <link rel="stylesheet" href="~/lib/slds/styles/salesforce-lightning-design-system.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/spinner.css" />

</head>
<body>
    <div class="slds-grid c-header">
        <div class="slds-col">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">IHaveIt.Club</a>
        </div>
        <div class="slds-col c-right">
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </div>

    <div class="c-sub-header c-right">
        @await Html.PartialAsync("_LoginPartial")
    </div>

    <div class="c-body-content">
        @RenderBody()
    </div>

    <hr />
    <footer style="text-align: center;">
        <p>&copy; 2018 - M33</p>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
