@{
    ViewData["Title"] = "Home Page";
}

<div class="c-home-page">

    <div class="slds-grid slds-grid_align-center" style="margin-top: 40px;">
        <div class="slds-col slds-size_6-of-12">
            <div class="c-box">
                <div class="c-box-title">
                   Home
                </div>
                <div class="c-box-content">
                    <h2>
                        This is standard Panel
                    </h2>
                    <p>
                        <strong>Lorem ipsum dolor</strong>
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
                    <p>
                        <small>
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                        </small>
                    </p>
                </div>
                <div class="c-box-footer">
                    Footer text
                </div>
            </div>
        </div>
    </div>

</div>
